@import '../../../app/util/colors.css';

.pageWrapper {
	display: flex;
	flex-flow: column;
	min-height: 100%;
}

.nav {
	position: sticky;
	top: 0px;

	width: 100%;

	z-index: 99;
}

.pageContainer {
	flex-grow: 1;
}
