.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 100px;
	padding: 30px 0;

	box-sizing: border-box;
	height: 100%;
	width: 150px;
}

.wrapper img {
	max-width: 60%;
}
