@import url('../../../../app/util/colors.css');
@import url('../../../../app/util/propertySet.css');

.subNavbar {
  display: grid;
  grid-template-columns: auto 160px;

  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid #f7f7f8;
}

.leftSide {
  display: grid;
  grid-template-columns: 120px auto;
}

.rightSide::before {
  content: ' ';

  position: absolute;
  left: 0;

  width: 1px;
  height: 50%;
  border-left: 1px solid black;
}

.rightSide {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin: 0 5px;

  background-color: transparent;
  border: none;
}

.button:hover {
  color: var(--themeColor);
}

.trendButton {
  flex-direction: row;
  gap: 5px;

  color: var(--pink-600);
}

.categoryList {
  display: flex;
  flex-direction: row;
  gap: 15px;

  margin-left: 10px;

  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.categoryList::-webkit-scrollbar {
  display: none;
}
