@import '../../app/util/colors.css' .loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 78%;
  background-color: white;
}

.noProductsImage {
  max-width: 30%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.noProductsImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 3rem;

  width: 100%;
}
.addProductButton {
  margin-left: auto;
  height: fit-content;
}

.title {
  font-weight: 600;
}

.productList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.productInList {
  display: flex;
  flex-direction: row;
  gap: 1em;

  width: 100%;
}

/* Khoa Lam */

.wrapperK {
  display: flex;
  justify-content: center;
}

.contentK {
  width: 90%;
}

.controlPanelContainer {
  max-width: fit-content !important;
}

.statusBadgeActive {
  background-color: var(--teal-500);
  padding: 0 0.8em;
  border-radius: 5em;
  color: white;
}
