@import '../../app/util/colors.css';

.voteButton {
	fill: var(--gray-400);
	transition: 100ms;
	width: 35px;
	height: 35px;

	cursor: pointer;
}

.upvote:hover {
	fill: var(--teal-600);
	transition: 100ms;
}

.downvote:hover {
	fill: var(--red-500);
	transition: 100ms;
}

.voter {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;

	margin-right: 25px;
}

.voter * {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
}
