@import '../../app/util/colors.css';

/* .answerContainer {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	padding: 40px 20px 20px 20px;

	border-radius: 20px;
	background-color: transparent;
} */
