@import '../../app/util/colors.css';

.container {
	display: flex;
	justify-content: center;

	width: 100%;
}

.content {
	width: 60%;
}

.voter {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	margin-right: 25px;
}
