@import '../../../app/util/colors.css';

.cardImg {
  object-fit: cover;
}

.pcard {
  height: 100%;
  background-color: white;
}

.pcard:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

i {
  margin-right: 0.2em;
}

.yellowStar {
  color: #ffda6a;
}

.grayStar {
  color: #e9ecef;
}

.secondaryLink {
  color: var(--pink-300);
}
