.productimg {
  width: 100%;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ededf0;
  border-radius: 3px;
  box-shadow: 0 10px 5px -5px rgb(0 0 0 / 5%);
  margin-right: 0.5em;
  flex-shrink: 0;
}

.productimg img {
  width: 100%;
  border-radius: 3px;
  aspect-ratio: 2/1;
  object-fit: cover;
}

@media screen and (min-width: 1000px) {
  .productimg {
    width: 100%;
    max-width: 200px;
  }
}
