.wrapper {
	display: flex;
	justify-content: center;

	width: 100%;
	min-height: 100%;

	padding: 2rem 0;
	position: relative;
}

.column {
	width: 100%;
	position: relative;
}

.container {
	display: flex;
	flex-direction: column;
	position: relative;

	padding: 10px 20px;

	min-width: 80vw;
	min-height: 100%;
	background-color: white;
}

.tabButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;

	position: relative;
}

.tabItem {
	cursor: pointer;
}

.tabContent {
	width: 100%;
}

@media (min-width: 768px) {
	.column {
		display: flex;
		flex-direction: row;

		position: relative;
	}

	.tabButtons {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		margin-right: 1rem;
		margin-top: 1rem;

		position: sticky;
		top: 180px;
	}

	.tabContent {
		width: 80%;
	}
}
