.wrapper {
	display: flex;
	justify-content: center;

	width: 100%;
	min-height: 100%;
}

.container {
	display: flex;
	flex-direction: column;

	padding: 10px 20px;

	width: 90%;
	min-height: 100%;
	background-color: white;
}

.tabButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.tabItem {
	cursor: pointer;
}

@media (min-width: 768px) {
	.container {
		width: 65%;
	}
}
