@import '../../app/util/colors.css';

.bannerImageWrapper {
  position: relative;
  z-index: 1;
  padding: 0;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.bannerImageElement {
  margin: 0 auto;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 320px;
}

.avatarWrapper {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  width: 94px;
  height: 94px;
  border: 4px solid #fff;
  position: relative;
  z-index: 1;
  margin-top: calc(-94px / 2);
}

.avatarImage {
  height: auto;
  display: block;
  max-width: 100%;
}

.shopInfo {
  display: block;
  margin: 0 auto;
  position: relative;
  max-width: 400px;
}

.userManagePanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 1rem;
  margin: 10px 0;

  width: 100%;

  color: white;
  background-color: rgba(var(--pink-rgb), 0.6);
  border: 1pix solid var(--pink-500);

  transition: 300ms;
}

.userManagePanel:hover {
  color: white;
  background-color: rgba(var(--pink-rgb), 0.65);
}
