.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	padding: 20px;

	background-color: #0b0d17;
}

.list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 40px;

	width: 100%;

	margin-top: 2rem;
}

.list a {
	color: white;
}

.logo {
	fill: white !important;
	width: 10rem;
	margin: 1rem;
}

.langSelector {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;

	margin-left: auto;
	margin-right: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;

	color: white;
}

.langItem {
	cursor: pointer;
}

.inactive {
	color: var(--gray-600);
}
