@import '../../app/util/colors.css';

.answer {
	display: flex;
	flex-direction: row;
	padding: 20px;
	margin-bottom: 30px;

	width: 100%;
	background-color: white;
	border-radius: 20px;
}

.sideContent {
	min-width: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.content {
	display: flex;
	flex-direction: column;

	width: 100%;
}

.authorInfo {
	display: flex;
	flex-direction: row;
	gap: 10px;

	color: var(--gray-600);
}

.answerContent {
	margin-right: 20px;
}

.footerContent {
	display: flex;
	gap: 20px;
}

.replyButton {
	cursor: pointer;
}

.voter {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;

	width: fit-content;
}

.voter * {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.voteButton {
	fill: var(--gray-400);
	transition: 100ms;
	width: 20px;
	height: 20px;

	cursor: pointer;
}

.upvote.active {
	fill: var(--teal-600);
}

.upvote:hover {
	fill: var(--teal-600);
	transition: 100ms;
}

.downvote.active {
	fill: var(--red-500);
}

.downvote:hover {
	fill: var(--red-500);
	transition: 100ms;
}

.sectionEdit {
	max-width: 95%;
	margin-top: 10px;
}

.sectionComments {
	margin-left: 40px;
}

.showMoreComments {
	display: flex;
	flex-direction: row;

	font-size: small;
	color: var(--blue-600);

	cursor: pointer;
}

.editFooter {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 10px;
}

.editFooter button {
	margin: 10px 0;
}

.addCommentWrapper {
	margin-top: 20px;
}

.bestAnswer {
	height: 1.5em;
	width: 1.5em;

	cursor: pointer;
	color: var(--gray-400);

	transition: 100ms;
}

.bestAnswerActive,
.bestAnswer:hover {
	height: 1.5em;
	width: 1.5em;

	cursor: pointer;
	transition: 100ms;

	color: var(--teal-600);
}
