.container {
	position: relative;
	height: 100%;
}

.title {
	margin: 40px 0 30px 15px;
	font-weight: 600;
}

.mainContent {
	background-color: rgb(245, 245, 245);
}

.tabContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 5px;
}

.tabItem {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;

	border: 1px solid transparent;
	text-decoration: none;
}

.tabItem.active {
	background-color: white;

	border: 1px solid lightgray;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
}
